
ul{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 150px;
}

ul ul{
	transition: margin 1s ease-in;
}

ul li{
	position: relative;
}

li ul{
	position: absolute;
	left: 150px;
	top: 0;
	display: none;
}

ul li a{
	display: block;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	background: #0894C9;
	padding: 5px;
	border: 1px solid #333;
}

li:hover ul{ display: block;}

ul li a:hover{
	font-weight: bold;
	background: #FF0000;
	color: #FFF;
	left: 10px;
	opacity: 0.9;
	transition: 0.7s;
}

header {
	display: block;
	text-align: center;
	background: rgb(4, 2, 117);
	color: #FFF;
	font-weight: bold;
	padding: 20px;
  }

  #nav{
	  top: 5px;
	  position: relative;
  }

  body{
	  background: #333;
  }

  .formulario{
	  /*float: right;*/
	  position: absolute;
	  margin-top: -80px;
	  margin-left: 305px;
	  width: 600px;
	  padding: 15px;  
	  border:rgba(0, 0, 0, 0.35) 5px solid;
	  
	  
  }

  formulario, label {
	color: #FFF;
  }

  #comp_{
	margin-left: 40px;
  }

  #Escola{
	  margin-top: 5px;
	  width: 300px;
	  font-size: 15pt;
	  margin-bottom: 5px;
  }

  #fund{
	margin-top: 5px;
	  width: 140px;
	  font-size: 15pt;
	  margin-bottom: 5px;
  }

#sala{
	margin-top: 5px;
	  width: 60px;
	  font-size: 15pt;
	  margin-bottom: 5px;
}

#Comp{
	font-size: 15pt;
	margin-left: 5px;
}

#Prof{
	margin-top: 5px;
	width: 350px;
	font-size: 15pt;
	margin-bottom: 5px;
}

#Numero{
	margin-bottom: 10px;
	width: 20px;
	margin-left: 10px;
	font-size: 15pt;
}

#Nome{
	margin-top: 5px;
	width: 350px;
	font-size: 15pt;
	margin-bottom: 5px;
}

#Limpar{
	float: right;
	margin-left: 10px;
}

#Gravar{
	float: right;

}

#num{
	margin-left: 330px;
}

.buttons{
	margin: 0;
	margin-top: 20px;
	display:flex;
	justify-content: center;
	align-items: center;
	
}

.clicks{
	
	border-radius: 15px;		
	width: 100px;
	height: 50px;
	font-size: 20px;
	font-family: "Calibri";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-shadow: 0px 8px 9.5px rgba(0, 0, 0, 0.6);
	background-image: -moz-linear-gradient( 90deg, rgb(14,89,148) 0%, rgb(2,41,56) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(14,89,148) 0%, rgb(2,41,56) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(14,89,148) 0%, rgb(2,41,56) 100%);
	box-shadow: 1px 5px 9.5px 0.5px rgba(0, 0, 0, 0.35);
	}

#Gravar{
	margin-left: 10px;
}
			  
		  
img{
	float: right;
}
	
.btn_resp{
	margin:0;
	display: flexbox;
	justify-content: center;
	justify-items: center;
	align-items: center;
	margin-left: 10px;
}

.resp{
	/*background: #0894C9;/*
	/*width: 565px;*/
	width: 500px;
	float: right;
	margin-top: -85px;
	height: 400px;
	padding: 5px;
	display: inline;
}

.circ{
	border-radius: 50%;	
	border: none;	
	width: 80px;
	height: 80px;
	font-size: 20px;
	font-family: "Calibri";
	color: rgb(253, 16, 0);
	font-weight: bold;
	text-shadow: 2px 2px 20px rgba(218, 87, 47, 0.9);
	background: #000;
	box-shadow: 1px 5px 9.5px 0.5px rgba(0, 0, 0, 0.8);
	box-shadow: 1.5px 1.5px 10px rgba(218, 87, 47, 0.9);;
	margin: 2px 2px 2px 2px;
}

.circ:hover{
	border-radius: 50%;	
	border: none;	
	width: 80px;
	height: 80px;
	font-size: 20px;
	font-family: "Calibri";
	color: rgb(6, 252, 35);
	font-weight: bold;
	text-shadow: 2px 2px 20px rgba(0, 255, 42, 0.9);
	background: #000;
	box-shadow: 1px 5px 9.5px 0.5px rgba(0, 0, 0, 0.8);
	box-shadow: 1.5px 1.5px 10px rgba(0, 254, 47, 0.9);;
	margin: 2px 2px 2px 2px;
	opacity: 0.9;
	transition: 0.4s;
}


  
  
		  
	  